<div class="mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{ 'home.welcome_title' | translate }}</h2>
      <h3 class="card-text">{{ 'home.welcome_subtitle' | translate }}</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fa-solid fa-check"></i>
          <span>{{ 'home.auth_implemented' | translate }}</span>
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-check"></i>
          <span>{{ 'home.auth_guard_implemented' | translate }}</span>
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-check"></i>
          <span>{{ 'home.theme_implemented' | translate }}</span>
        </li>
        <li class="list-group-item">
          <i class="fa-solid fa-check"></i>
          <span>{{ 'home.i18n_implemented' | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
