<div class="form-container" *ngIf="!editDialog">
  <h2 mat-dialog-title>Formulario para agregar usuario</h2>
  <mat-dialog-content>
    <form [formGroup]="addUserForm">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Edad</mat-label>
        <input matInput formControlName="age" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="cancel()" color="primary">Cerrar</button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="submit(addUserForm)"
    >
      Enviar
    </button>
  </mat-dialog-actions>
</div>

<div class="form-container" *ngIf="editDialog">
  <h2 mat-dialog-title>Formulario para editar usuario</h2>
  <mat-dialog-content>
    <form [formGroup]="editUserForm">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Edad</mat-label>
        <input matInput formControlName="age" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="cancel()" color="primary">Cerrar</button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="submit(editUserForm)"
    >
      Enviar
    </button>
  </mat-dialog-actions>
</div>
